
body{
  width: 50%;
  margin: auto;
  background: url(imgur_com.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1500px 1500px;

  font-family: sans-serif;
  color: #e8e8e8;
  }
  #a3{
    position: relative;
    left: 219px;
    top: 4px;
  }
  #a2{
    position: relative;
    left: 180px;
    top: -2px;
  }
  #a1{
    position: relative;
    left: 177px;
    top: 4px;
  }
  #a3{
    position: relative;
    left: 219px;
    top: 4px;
  }
main{
    background: #2f3c42b8;
    margin-top: 55px;
    padding: 18px;
    border-radius: 11px;

  }
